# Node.js dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment files
.env
.env.local
.env.*.local

# Build outputs
dist/
build/
out/
.next/
.vercel/
.netlify/

# Logs
logs
*.log
*.log.*
debug.log

# OS / Editor junk
.DS_Store
Thumbs.db
*.swp
*.swo
*.tmp
*.bak

# Temp folders
tmp/
temp/

# IDE folders
.vscode/
.idea/
*.iml

# Test coverage
coverage/
.nyc_output/

# TypeScript
*.tsbuildinfo

# Cache
.cache/
.parcel-cache/
.eslintcache
.stylelintcache

# React / Frontend
*.map

# Mongo dumps
dump/

# Local files
**/config/local*
